<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="5" data-provider-thread-count="1">
    <test name="HomeTimeline">
        <classes>
            <class name="com.twitter.update.UpdateTests"/>
            <class name="com.twitter.destroy.DestroyTests"/>
            <class name="com.twitter.timeline.TimelineTests"/>
        </classes>
    </test>
</suite>
